*{
    font-family: sans-serif;
}

.cursor-pointer{
    cursor: pointer;
}

body.dark-mode{
    background: rgb(23,25,36);;
}
p.dark-mode{
    color: #c8c8c8;
}
.header-1.dark-mode span{
    color: rgb(161, 167, 187);
}
.header-1.dark-mode span.header-span-2{
    color: rgb(97, 136, 255);
}
.header-1.dark-mode .select-box{
    background: #0b1b36;
}
.header-1.dark-mode .selected img{
    background: #fff;
}
.header-2.dark-mode .menu span ,.header-2.dark-mode h5 , .header-2.dark-mode i{
    color: #dddddd;
}
.header-2.dark-mode .navbar>div:hover{
    background: inherit;
}
.header-2.dark-mode .navbar>div:hover>span{
    color: rgb(97, 136, 255);
}
.header-2.dark-mode .sub-menu{
    background: rgb(23,25,36);
}
.header-2.dark-mode .sub-menu a{
    color: #dddddd;
}
.header-2.dark-mode .sub-menu a:hover{
    background: rgb(52, 56, 81);
}
.header-2.dark-mode .search-box-link-btn span{
    color: #dddddd;
}
.header-2.dark-mode .search-crypto{
    background: rgb(8,13,40);
}
.header-2.dark-mode .scbi-name span{
    color: #ddd;
}
.header-2.dark-mode .sc-title>span>span{
    color: #ddd;
}
.header-2.dark-mode  .scb-crypto:hover{
    background: rgb(15, 25, 75);
}
.header-2.dark-mode .sc-input input{
    background: rgba(8,13,40);
}
.header-3.dark-mode{
    background: rgb(34,37,49);
}
.header-3.dark-mode .header-3-title h4{
    color: #ddd
}
.main.dark-mode th , .main.dark-mode td{
    color: #ddd;
}
.header-2.dark-mode , .header-3.dark-mode{
    border-top: solid 1px #454646;
}
.header-3.dark-mode{
    border-bottom: solid 1px #454646;
}
.dark-mode .table th,.dark-mode .table td{
    border-color: #454646;
}
.dark-mode.main tbody>tr:hover{
    background: rgb(42, 46, 66)
}
.modal.dark-mode .modal-content{
    background: #222531;
}
.modal.dark-mode span , .modal.dark-mode h5{
    color: #ddd;
}
.modal.dark-mode p{
    color: #b4b4b4;
}
.modal.dark-mode .modal-header , .modal.dark-mode .modal-footer{
    border-color: #616161;
}
.modal.dark-mode .select-USDEUR:hover{
    background: #191d25;
}
.modal.dark-mode .active-USDEUR{
    background: #191d25;
}
/*--------- 454646------------*/
.main{
    padding: 20px 50px;
}
.main tbody>tr{
    transition: 200ms;
}
.main tbody>tr:hover{
    background: #eaf4ff;
    
}
.coin-logo-box{
    display: inline;
}
.coin-logo{
    border-radius: 50%;
    width: 24px;
    height: 24px;
}
.table tr{
    line-height: 3;
}
.header-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-box>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    padding: 0 20px;
}
.header-1{
    /*margin-bottom: 8px;
    border-bottom: solid 1px #5d5d5d;*/
}
.header-1 span{
    font-size: 13px;
    margin: 0 15px;
}
.header-1 span .btn{
    width: 70px;
    height: 30px;
    font-size: 13px;
}
.header-span-2{
    color: #000eb3;
    margin: 0 !important;
}
.select-box {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #fff;
    position: absolute;
    display: none;
    width: 260px;
    flex-direction: column;
    top: 50px;
    right: 320px;
    z-index: 999;
    transition: 200ms;
}

.select-box .options-container {
    color: #7792ff;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    display: block;
    order: 1;
}
.select-box label{
    font-size: 13px;
}
.selected {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #7792ff;
    position: relative;
    order: 0;
}

.selected::after {
}
.selected img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 54px;
}

.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #3f50c7;
}
.select-box .option:hover>label{
    color: #c2c2c2;
}
.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

/* Searchbox */

.search-box input {
    width: 100%;
    padding: 12px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    position: absolute;
    border-radius: 8px 8px 0 0;
    z-index: 100;
    border: 8px solid #2f3640;

    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.search-box input:focus {
    outline: none;
}

.select-box .options-container.active ~ .search-box input {
    opacity: 1;
    pointer-events: auto;
}

.header-2{
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #f5f6f6;
    padding-top: 20px !important;
}
.navbar{
    padding-top: 0;
    padding-bottom: 0;
}
.navbar>div{
    margin: 0 5px;
    cursor: pointer;
    padding: 10px;
    border-radius: 7px;
    transition: all 200ms;
}
.navbar>div:hover{
    background: #edf0ff;
}
.search-box-link-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-box-link-btn span{
    font-size: 14px;
    margin-left: 10px;

}
.search-box-link-btn i , .search-box i{
    color: #868686;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 7px;
    width: 256px;
    height: 38px;
    background: rgb(239, 242, 245);
    justify-content: space-between;
    padding: 0 7px;
    margin: 0px 10px;
    cursor: pointer;
    position: relative;
}
.search-crypto{
    display: none;
    position: absolute;
    width: 300px;
    height: 450px;
    background: #ffffff;
    z-index: 999;
    top: 0;
    right: 0px;
    padding: 0 5px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sc-input{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.sc-input input{
    border: 0;
    outline: none;
    width: 240px;
    padding: 5px;
}
.sc-input input[placeholder]{
    font-size: 12px;
}
.sc-input i , .sc-input input[placeholder]{
    color: #b1b1b1;
}
.sc-body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.scb-crypto{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    color: #000;
    text-decoration: none;
    transition: 200ms;
}
.scb-crypto:hover{
    background: #f2f0ff;
}
.scb-crypto-info{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.scbi-name span{
    font-size: 14px;
    font-weight: 700;
}
.scbi-symbol span{
    font-size: 12px;
}
.scbi-name span , .scbi-symbol span{
    margin-right: 7px;
}
.scbi-symbol span{
    font-weight: 600;
}
.scbi-symbol span , .scb-crypto-rank span{
    color: #959595;
}
.scbi-icon>img  {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}
.sc-recent-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0 5px;
}
.sc-recent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 74px;
    background: #f4f5ff;
    border-radius: 7px;
}
.sc-recent img{
    width: 20px;
    height: 20px;
}
.sc-recent p{
    color: rgb(23, 25, 36);
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    max-width: 64px;
    overflow: hidden;
    margin-bottom: 0;
}
.sc-recent :nth-child(2){
    font-size: 14px;
}
.sc-recent :nth-child(3){
    font-size: 12px;
    color: #7d7d7d;
}
.menu{
    position: relative;
    transition: all 200ms;
}
.menu>span{
    font-weight: 700;
}
.menu:hover>.sub-menu{
    display: block;
}
.sub-menu{
    z-index: 999;
    position: absolute;
    width: auto;
    height: auto;
    background: #f3f4fb;
    margin-top: 10px;
    left: -25%;
    border-radius: 7px;
    display: none;
    transition: all 200ms;
    padding: 20px;
}
.sub-menu a{
    min-width: 175px;
    color: #000;
    display: block;
    text-decoration: none;
    line-height: 30px;
    padding: 10px;
    border-radius: 5px;
}
.sub-menu a i{
    margin-right: 5px;
}
.sub-menu a:hover{
    background: #e8ecff;
}
.header-3{
    background: #e3fdff;
    border-top: 1px solid #dcefff;
    border-bottom:1px solid #dcefff;
}
.header-3-title{
    width: 50%;
    padding: 10px 20px;
}
.header-3-swiper{
    width: 50%;
    height: 150px;
    cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur), default !important;

}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-3 .swiper{
    width: 50%;
    height: 150px;
    padding: 10px;
}
.header-3 .swiper-slide{
    overflow: hidden;
}
.header-3 .swiper-slide img{
    width: 100%;
    height: auto;

}
footer{
    width: 100%;
    height: 480px;
    padding: 20px;
    background: #1d1d1d;
}
.footer-title{
    background: #eeeeee;
    width: 100%;
    height: 130px;
}
.footer-body{
    width: 100%;
    height: 300px;
    position: relative;

}
.footer-links{
    width: 100%;
    height: 300px;
    padding: 0 100px;
    position: absolute;
    top: -50px;
}
.footer-links-top{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    background: #0e0e0e;
    margin-bottom: 15px;
}
.flt-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    margin: 5px;
}
.flt-icon{
    margin-right: 10px;
}
.flt-icon i , .flt-title :nth-child(2){
    color: #9e9e9e;
}
.flt-icon i{
    font-size: 27px;
}
.flt-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flt-title p{
    margin: 0;
}
.flt-title :nth-child(1){
    font-size: 13px;
    color: #a73900;
    font-weight: 900;
    margin-bottom: 5px;
}
.footer-links-lists{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
}
.footer-links-lists>div{
    width: 25%;
    height: 100%;
    margin: 3px;
}
.fll-box{
    display: flex;
    flex-direction: column;
}
.fll-box h5,h3{
    color: #cbcbcb;
}
.fll-box p{
    color: #929292;
    font-size: 13px;
}
.fll-box-icons{
    display: flex;
    flex-direction: row;
}
.fll-box-icons a{
    color: #8e8e8e;
    font-size: 25px;
    margin-right: 10px;
}
.fll-links{
    
}
.fll-links a{
    margin-left: 10px;
    color: #5e5e5e;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    transition: 200ms;
    line-height: 30px;
}
.fll-links a:hover{
    color: #ededed;
}
.footer-copy-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
}
.footer-copy-right p{
    color: #000000;
    font-weight: 700;
    margin: 0;
}
#USDEURModal>div{
    max-width: 895px;
}
.modal-body-USDEUR{
    padding: 10px 30px;
}
.modal-body-USDEUR>div p{
    display: block;
}
.modal-body-USDEUR .popular-currencies-USDEUR{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.mb-USDEUR>p{
    font-size: 13px;
    color: #8d8d8d;
    font-weight: 700;
    margin-bottom: 0;
}
.pc-USDEUR{
    width: 197px;
    height: 53px;
    margin: 5px;
}
.active-USDEUR{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(214, 234, 253);
}
.select-USDEUR{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
}
.select-USDEUR:hover{
    background-color: rgb(223, 245, 255);
}
.S-USDEUR-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
}
.S-USDEUR-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.S-USDEUR-title :nth-child(1){
    font-weight: 700;
    font-size: 11px;
}
.S-USDEUR-title :nth-child(2){
    font-weight: 400;
    font-size: 12px;
}